<!DOCTYPE html>
<html lang="ja">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title><%= title %></title>
<%= head %>
</head>
<body>
<header>
<%= header %>
</header>
<contents>
<%= contents %>
</contents>
<footer>
<%= footer %>
</footer>
</body>
</html>